body{
    background-color:#4F4F4F;
}
body, html {
  height: 100%;
}
* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    
  /* Set a specific height */
  height: 50%;
    
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

p{
    color:whitesmoke;
    text-align:center;
    color:#FF87B7;
    
  }
div.scrollmenu {
    background-color: #FF87B7
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 22px;
    text-decoration: none;

  }
  
  div.scrollmenu a:hover {
    background-color: #FF87B7;
  }
  .icon-bar{
    width: 600px;
    background-color: #333;
  }
  .icon-bar a{
     float: left;
     width: 20%;
     text-align: end;
     padding:12px 0;
     transform-box: all 0-3s ease;
     color:whitesmoke;
     font-size:36px;
  }
  .icon-bar a:hover{
    background-color: #e74c32;
  }
  h1{
    text-align:center
  }
  .card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .container {
    padding: 2px 16px;
  }
  .card2 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .container {
    padding: 2px 16px;
  }

  .card3 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .container {
    padding: 2px 16px;
  }

  .card4{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .container {
    padding: 2px 16px;
  }

  .card5{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .container {
    padding: 2px 16px;
  }


  .card6{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .container {
    padding: 2px 16px;
  }